header {
    position: sticky;
    top: 0;
}

.logo {
    height: 80px;
    border-radius: 50px;
    margin: 10px;
}

li .nav__a {
    font-weight: 500;
}

li .nav__a:hover {
    color: white;
    font-weight: 700;
    background-color: orange;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,
    url(/img/hero-cereales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.main__item h1{
    font-size: 70px;
    margin: 20px;
}

.main__item button {
    text-align: center;
    width: 170px;
    border-radius: 10px;
    height: 50px;
    background-color: #ffc107;
    font-weight: 600;
    font-size: 25px;
}

.main__item button:hover {
    color: white;
    background-color: orange;
}

.container__section__productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.container__section__productos div {
    margin: 100px;
    text-align: center;
}

.container__section__productos div img {
    height: 250px;
    width: 250px;
}



