/* GALERIA */

main {
    .container__galery {
        margin-bottom: 10 em;
        padding: 1em 3em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
        @media (max-width:880px) {
            grid-template-columns: repeat(2,1fr);
            padding: .5em 2em;
        }
    }
}