@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
main {
  /* HERO */
  /* ARTICULO INICIO */
}
main .animacion-titulo {
  display: flex;
  animation: animacion-titulo 2s ease-in-out infinite alternate;
}
@keyframes animacion-titulo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
main .main__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero-cereales.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
main .main__hero h1 {
  font-size: 4em;
  margin: 0.5em;
}
main .main__hero button {
  padding: 0.6em 3.4em;
  border-radius: 12px;
  font-size: 1.2em;
}
main .box__main__inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}
@media (max-width: 800px) {
  main .box__main__inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .box__main__inicio .box__main__item {
  margin: 1.5em 2em;
}
@media (max-width: 880px) {
  main .box__main__inicio .box__main__item {
    margin-top: 0;
  }
}
main .box__main__inicio .box__main__item .box__main__div {
  max-width: 100%;
  text-align: center;
}
main .box__main__inicio .box__main__item .box__main__div h2 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}
main .box__main__inicio .box__main__item .box__main__div p {
  font-size: 1.5em;
  margin: 1em;
}
@media (max-width: 800px) {
  main .box__main__inicio .box__main__item .box__main__div {
    font-size: 1em;
    margin: 1em;
  }
}
@media (max-width: 800px) {
  main .box__main__inicio .box__main__item .box__main__div .imagen {
    width: 100%;
  }
  main .box__main__inicio .box__main__item .box__main__div .box__main__img {
    margin: 0.5em;
  }
}
main .box__article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  main .box__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .box__article .box__main__item:nth-child(1) .box__main__div {
  display: inline;
  width: 22em;
}
main .box__article .box__main__item .box__main__div h2 {
  font-size: 2em;
  margin-bottom: 0.7em;
}
main .box__article .box__main__item .box__main__div p {
  margin: 1px;
}
main .box__article .box__main__item .box__img .imagen {
  max-width: 100%;
}
@media (max-width: 800px) {
  main .box__article .box__main__item .box__img .imagen {
    width: 100%;
  }
  main .box__article .box__main__item .box__img .box__main__img {
    margin: 0.5em;
  }
}

/* CARTAS DE PRODUCTOS-INICIO */
.productos {
  text-align: center;
  margin-top: 5em;
}

.container__cards {
  display: flex;
  justify-content: space-around;
  margin: 6em;
}
@media (max-width: 880px) {
  .container__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container__cards .card__item {
    margin-bottom: 150px;
  }
}
.container__cards .card__item {
  text-align: center;
  padding: 20px;
}

/* GALERIA */
main .container__contacto {
  background-color: #f2f2ff;
  border-radius: 1em;
  margin: 8em;
}
@media (max-width: 900px) {
  main .container__contacto {
    margin: 8em 1em;
  }
}
@media (min-width: 901px) and (max-width: 992px) {
  main .container__contacto {
    margin: 1em;
  }
}
main .container__contacto .box__contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
@media (max-width: 900px) {
  main .container__contacto .box__contacto {
    display: flex;
    flex-direction: column;
    height: 155vh;
  }
}
main .container__contacto .box__contacto .contacto__item {
  padding: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
@media (max-width: 900px) {
  main .container__contacto .box__contacto .contacto__item {
    padding: 1.5em;
  }
}
@media (min-width: 901px) and (max-width: 1629px) {
  main .container__contacto .box__contacto .contacto__item {
    padding: 0;
  }
}
main .container__contacto .box__contacto .contacto__item h1 {
  padding: 0.5em 0;
}
main .container__contacto .box__contacto .contacto__item iframe {
  height: 15em;
}
@media (min-width: 993px) and (max-width: 1629px) {
  main .container__contacto .box__contacto .contacto__item iframe {
    height: 10em;
    width: auto;
  }
}
main .container__contacto .box__contacto .contacto__form {
  display: flex;
  flex-direction: column;
  padding: 6em 10em;
}
@media (max-width: 900px) {
  main .container__contacto .box__contacto .contacto__form {
    padding: 3em;
    margin-bottom: 5em;
  }
}
@media (min-width: 901px) and (max-width: 1629px) {
  main .container__contacto .box__contacto .contacto__form {
    padding: 2em;
    margin-bottom: 2em;
  }
}
main .container__contacto .box__contacto .contacto__form label {
  margin: 1em 0;
  font-size: 1.3em;
}
main .container__contacto .box__contacto .contacto__form textarea {
  max-height: 270px;
}
main .container__contacto .box__contacto .contacto__form button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  width: 8em;
}
main .container__contacto .box__contacto .contacto__form input {
  border-radius: 5px;
  border: 1px solid black;
}

/* CEREALES */
.container__cereales {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #e9e9e9;
  border-radius: 2.5rem;
  margin: 1.25rem;
  padding: 1.875rem;
  justify-content: center;
}
.container__cereales h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: #646464;
  margin-bottom: 1.25rem;
}
.container__cereales div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__cereales div .cereales__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1.25rem;
  margin: 3rem;
  padding: 0.938rem;
  justify-content: flex-end;
  width: 15.625rem;
  box-shadow: 0.313rem 0.313rem 0.313rem #b1b1b1;
  text-align: center;
}
.container__cereales div .cereales__items img {
  vertical-align: middle;
  height: 220px 220px;
}
.container__cereales div .cereales__items .cereales__precios {
  margin: 0.25rem 0;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.container__cereales div .cereales__items .box__cantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.container__cereales div .cereales__items .box__cantidad .productos__stock {
  margin: 0.25rem 0;
  font-size: small;
  color: green;
}
.container__cereales div .cereales__items .box__cantidad .box__cantidad__unidades {
  margin: 1rem;
  width: 7rem;
  font-size: 0.9rem;
  font-weight: 400;
}

/* FRUTOS SECOS */
.main__container__table {
  display: flex;
  flex-direction: column;
}

.main__container__table .main__table__tittle {
  text-align: center;
  margin-top: 70px;
}

.main__container__table .main__table {
  margin: auto;
  margin-top: 70px;
}

.main__table {
  border: 2px solid #198754;
  background-color: #21b36f;
  text-align: center;
}

.main__table tr {
  height: 50px;
  border: 1px solid black;
}

.main__table tr td {
  font-weight: 600;
  padding: 20px;
  border: 1px solid black;
}

.main__table tr td:hover {
  background-color: #198754;
}

.main__table__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.container__form {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.container__form .form__item {
  margin: 15px;
}

.container__form div input {
  width: 300px;
}

@media (max-width: 480px) {
  .main__container__table .main__table__box .main__table {
    width: 300px;
  }
}
/* Mi cuenta */
.box__form {
  display: flex;
  min-height: 100vh;
}
.box__form .form {
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);
  text-align: center;
}
.box__form .form .form__tittle {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.box__form .form .form__paragraph {
  font-weight: 300;
}
.box__form .form .form__link {
  font-weight: 400;
  color: black;
}
.box__form .form .form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.box__form .form .form__container input {
  font-size: 1.1em;
  font-weight: 300;
}
.box__form .form .form__container .form__group {
  position: relative;
  --colorForm: #5757577e;
}
.box__form .form .form__container .form__group .form__input {
  width: 100%;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colorForm);
  font-family: "Roboto", sans-serif;
}
.box__form .form .form__container .form__group .form__label {
  color: var(--colorForm);
  cursor: pointer;
}
.box__form .form .form__submit {
  background-color: #198754;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0.8em 0;
  border-radius: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 9;
}
header .logo {
  position: relative;
  left: -300%;
  animation: slide-in 0.5s ease-out forwards;
}
@keyframes slide-in {
  100% {
    left: 0;
  }
}
header .navbar .logo {
  height: 80px;
  border-radius: 50px;
  margin: 10px;
}
header .navbar div ul li a:hover {
  color: white;
  background-color: #bb8c00;
}

/* FOOTER */
.box__footer div a {
  color: black;
  text-decoration: none;
}
.box__footer div a:hover {
  color: white;
}/*# sourceMappingURL=main.css.map */